.paragrafts-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding-bottom: 0.625rem;
}

.header-app {
  height: 6.25rem;
}

.header-app__content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.header-app__title {
  font-size: 1.875rem;
  text-align: center;
}

.lorem-ipsum {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
}

.paragrafts__form {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

.paragrafts__content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.paragrafts__label {
  padding: 0.625rem;
  font-size: 1.125rem;
}

.paragrafts__input {
  max-width: 5rem;
  max-height: 1.875rem;
  font-size: 0.9375rem;
  text-align: center;
  border-radius: 0.625rem;
  border: 0.0625rem solid var(--color-black);
}

.paragrafts__btn-generate {
  font-size: 0.9375rem;
  border: 0.0625rem solid var(--color-black);
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  background-color: var(--color-primary);
  border-radius: 0.625rem;
  cursor: pointer;
  color: var(--color-white);
  width: fit-content;
}

.paragrafts__paragraphs {
  width: 75%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  gap: 1.25rem;
  margin-top: 1.25rem;
}
